.app-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.app-title {
  font-size: 24px;
  margin-bottom: 20px;
}
.card {
  padding : 20px;
  background-color: rgb(252, 244, 244);
  border-radius: 10px;
  margin-bottom: 20px;
}
.manage-keys, .existing-keys, .existing-users, .hour-selector {
  margin-bottom: 20px;
}

.manage-keys label, .existing-keys label, .existing-users label {
  display: block;
  margin-bottom: 5px;
}

.manage-keys input[type="text"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

button {
  padding: 8px 12px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
